.bordered {
    border: 2px solid black;
    background-color: azure;
    padding: 10px;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar p{
    color: darkgray;
    padding-left: 15%;
}

.navbar p:hover{
    color:aliceblue;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1%;
}

#header-index {
    color: #44453f;
}

footer {
    position: unset;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%;
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

header, footer, body, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
    background-color: linen;
}

.search form:hover{
    position: relative;
    width: 300px;
    
}

.search button:hover{
    position: absolute;
    
    height: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
    background-color: aqua;
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}